playwright==1.63.0
playwright-stealth
websockets
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
msal
fastapi
uvicorn
pydantic_settings
redis
pywin32; platform_system == "Windows"
asyncpg
requests
